
%h1.title webhack

.login-form
  - form_for @user_session, :url => user_session_path do |f|
    .login
      = f.labelled_text_field "Login", :login, :class => "focus"
    .password
      = f.labelled_password_field  "Password", :password
    .controls
      = f.submit "Login"
      = f.label :remember_me
      = f.check_box :remember_me
